.modal {
    &-header {
        padding: 20px;
        font-size: 18px;
        font-family: font(md);
        color: $text-gray-800;
        border-bottom: 1px solid $border-color-100;
    }
    &-md{
        max-width: 500px;
    }
    .btn-close{
        width: 20px;height: 20px;position: absolute;right:-8px;top:-8px;background-color: $primary;
        color:$white;font-size: 12px; @include flexcenter(both); border-radius: 50%;
        background-image: none;opacity: 1;
        &:after{
            position: absolute;
            content: '\ea06';font-family:'icomoon';
            color: $white;
            font-size: 20px;
        }
        &:hover{color:$text-gray-800;transition: all 0.3s;}
    }
    &-content{
        border:0;border-radius: 5px;
    }
    @include media-breakpoint-down(lg) {
        &-content{padding: 5px;}
    }
    &-body {
        padding: 20px;
    }
}